* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("navy_grid_back.jpg");
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

nav {
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.title {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -75%);
}

#dynamic {
    border: 1px solid white;
    background-color: rgba(0, 0, 128, 0.5);
    border-radius: 10px;
    width: 25%;
    color: white;
    z-index: 3;
}